#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title{
  font-size: 38px;
  text-decoration: underline;
  color: gold;
  margin-bottom: 44px;
  font-weight: bold 
}