.toast-notification-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.buttons button{
    background-color: white;
    outline: none;
    border: 0px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 0px 4px gray;
}

.notification-list.right-top{
    position: fixed;
    top: 10px;
    right: 10px;
    animation: slide 1s forwards;
}

.notification-list.right-bottom{
    position: fixed;
    bottom: 0px;
    right: 10px;
    animation: slide 1s forwards;
}

.notification-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@keyframes slide{
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

.select-toast-position{
    width: 260px;
    margin-top: 16px;
}

.select-toast-position select{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: white;
    outline: none;
}